body{
    /* min-width: 1190px; */
    font-size: 12px;
    line-height: 16px;
    color: #202020;
    font-family: -apple-system,BlinkMacSystemFont,"Malgun Gothic","맑은 고딕",helvetica,"Apple SD Gothic Neo",sans-serif;
}
/* command option c */

.blind{
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0,0,0,0);
    overflow: hidden;
    margin: -1px;
}

/* img border */
.thumb-bd{
    display: block;
    position: relative;
}
.thumb-bd img{
    width: 100%;
}
.thumb-bd::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid rgba(0,0,0,.1);
}
.thumb:hover img{
    transform: scale(1.05);
}
.thumb-bd img{
    width: 100%;
    object-fit: cover;
    transition: transform .2s cubic-bezier(.165,.84,.44,1);-webkit-transform :.2s cubic-bezier(.165,.84,.44,1);
}
.thumb .dim{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .1;
    filter: alpha(opacity=10);
    background-color: #000;
}


/* 창고 공용 */
.header .logo-area .link-logo::after,
.header .search-area .btn-submit::after,
.header .service-area a::after,
.header .gnb-area .ic-tv::before,
.header .gnb-area .ic-mail::before,
.header .gnb-area .link-gnb.shop::before,
.header .gnb-area .link-gnb.shoplive::before,
.header .gnb-area .btn-more::after,
.header .weather-wrap::before,
.header .degree-box .max::before,
.sc-news .group-issue .link-media::after,
.sc-news .group-title .link-title::before,
.sc-news .group-title .link-title::after,
.sc-news .group-title .link-set::after,
.sc-news .pm-btn::after,
.sc-themepost .list-area .btn-set::before,
.sc-themepost .pm-btn::after,
.sc-themepost .thumb .play,
.sc-themepost .group-list5 .link-title::after,
.sc-themepost .more-wrap .btn-more::after,
.sc-login .link-login::before,
.sc-login .sub-area .look-wrap::before,
.sc-login .sub-area .link-id::before,
.sc-login .sub-area .link-join::before,
.sc-cardnews .btn-nav::after,
footer .link-sitemap::after,
.btn-wrap .btn-mode,
.btn-wrap .top::after{
    background-image: url(../images/sp-bg.png);
    background-repeat: no-repeat;
    background-size: 457px;
}

/* sc-shop bg 창고 */
.sc-shop .group-title .link-shop::before,
.sc-shop .group-title .link-shop::after,
.sc-shop .shop-control .btn::before,
.sc-shop .shop-page .btn::before,
.sc-shop .deal-thumb .oneplus,
.sc-shop .deal-thumb .thumb + div::before,
.sc-shop .plusdeal-title a::before
{
    background-image: url(../images/sp-shop-bg.png);
    background-repeat: no-repeat;
    background-size: 107px;
}

/* sc-shop prev next 공통 */
.sc-shop .shop-control{
    position: absolute;
    top: 0;
}
.sc-shop .shop-control .num-box{
    float: left;
    line-height: 29px;
    color: grey;
}
.sc-shop .shop-control .current{
    margin-right: 4px;
    color: #202020;
    font-weight: 700;
}
.sc-shop .shop-control .btn-box{
    overflow: hidden;
    float: left;
    margin-left: 7px;
}
.sc-shop .shop-control .btn{
    float: left;
    background-color: #fff;
    border: 1px solid #dae1e6;
}
.sc-shop .shop-control .btn + .btn{
    margin-left: -1px;
}
.sc-shop .shop-control .btn::before{
    content: '';
    display: inline-block;
    width: 5px;
    height: 9px;
    background-position: -93px -77px;
    background-repeat: no-repeat;
    vertical-align: top;
    margin: 9px 12px 9px 10px;
}
.sc-shop .shop-control .btn.next::before{
    background-position: -79px -77px;
}
