body{
    /* min-width: 1190px; */
    font-size: 12px;
    line-height: 16px;
    color: #202020;
    font-family: -apple-system,BlinkMacSystemFont,"Malgun Gothic","맑은 고딕",helvetica,"Apple SD Gothic Neo",sans-serif;
}

.blind{
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0,0,0,0);
    overflow: hidden;
    margin: -1px;
}

/* img border & dim */
.thumb-bd{
    position: relative;
    display: block;
}
.thumb-bd::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid rgba(0,0,0,.1);
}
.thumb-bd img{
    width: 100%;
}
.thumb-bd .dim{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .1;
    filter: alpha(opacity=10);
    background-color: #000;
}


/* img창고1 */
.header .logo-box a::after,
.header .search-wrap .btn-submit::after,
.header .link-start::after,
.header .link-junior::after,
.header .link-bean::after,
.header .gnb-list1 .ic-mail::before,
.header .gnb-list1 .shop::before,
.header .gnb-list1 .shoplive::before,
.header .gnb-list1 .tv::before,
.header .btn-more::after,
.header .degree-box .max::before,
.footer .link-sitemap::after,
.sc-news .issue-area .link-media::after{
    background-image: url(../images/sp-bg.png);
    background-repeat: no-repeat;
    background-size: 457px;
}

/* 쇼핑몰영역 img창고 */



/* 쇼핑몰영역 prev next 공통 */


/* footer 영역 a:hover text-decoration */
.footer a:hover{
    text-decoration: underline;
}