@import './reset.css';
@import './common.css';


.header{}
.header .group-flex1{
    position: relative;
    width: 1130px;
    height: 160px;
    margin: 0 auto;
}
.header .logo-area{
    position: absolute;
    top: 50%;
    left: -9px;
    margin-top: -32px;
}
.header .logo-area .logo{}
.header .logo-area .link-logo{
    display: block;
}
.header .logo-area .link-logo::after{
    content: '';
    display: block;
    width: 222px;
    height: 52px;
    background-position: 0 -158px;
}
.header .search-area{
    position: absolute;
    top: 50%;
    left: 238px; 
    /* -30px */
    margin-top: -28px;
}
.header .search-area .wrap{
    position: relative;
    width: 582px;
    height: 52px;
    border: 2px solid #19ce60;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
.header .search-area .input-text{
    width: 444px;
    height: 24px;
    padding: 13px 15px;
    margin: 1px;
    background-color: #fff;
    font-size: 18px;
    line-height: 24px;
    color: #000;
    font-weight: 700;
    outline: 0;
}
.header .search-area .btn-submit{
    position: absolute;
    top: -2px;
    right: 0;
    width: 56px;
    height: 56px;
    background-color: #19ce60;
}
.header .search-area .btn-submit::after{
    content: '';
    width: 22px;
    height: 22px;
    display: inline-block;
    vertical-align: top;
    background-position: -420px 0;
    
}
.header .service-area{
    position: absolute;
    top: 12px;
    right: 27px;
}
.header .service-area .bar{
    float: left;
    width: 1px;
    height: 10px;
    margin: 3px 7px;
    background-color: #ccc;
}
.header .service-area .link-start{
    float: left;
}
.header .service-area .link-start::after{
    content: '';
    display: inline-block;
    vertical-align: top;
    width: 26px;
    height: 26px;
    margin: -3px 0 0 3px;
    background-position: -308px -345px;
}
.header .service-area .link-junior{
    float: left;
}
.header .service-area .link-junior::after{
    content: '';
    display: inline-block;
    width: 60px;
    height: 10px;
    background-position: -262px -330px;
    background-repeat: no-repeat;
    vertical-align: top;
    margin: 3px;
}
.header .service-area .link-junior:hover::after{
    background-position: -200px -330px;
}
.header .service-area .link-bin{
    float: left;
}
.header .service-area .link-bin::after{
    content: '';
    display: inline-block;
    width: 34px;
    height: 11px;
    background-position: -369px -299px;
    background-repeat: no-repeat;
    vertical-align: top;
    margin: 3px 3px 2px;
}
.header .service-area .link-junior:hover::after{
    background-position: -200px -330px;
}


.header .group-flex2{
    border-top: 1px solid #e4e8eb;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 12%);
}

.header .group-flex2 .inner{
    width: 1130px;
    margin: 0 auto;
}
.header .group-flex2 .inner::after{content: '';clear: both;display: block;}
.header .gnb-area{
    float: left;
    padding: 11px 0;
}

/* gnb-list1 */
.header .gnb-area .gnb-list1{
    float: left;
    line-height: 30px;
    font-size: 15px;
    font-weight: bold;
    color: #19ce60;
}
.header .gnb-area .gnb-item{
    float: left;
}
.header .gnb-area .gnb-item + .gnb-item{
    margin-left: 12px;
}
.header .gnb-area .link-gnb{}
.header .gnb-area .ic-mail::before{
    content: '';
    display: inline-block;
    width: 21px;
    height: 21px;
    background-position: -420px -73px;
    vertical-align: top;
    margin: 3px 9px 0 0;
}
.header .gnb-area .ic-tv::before{
    content: '';
    display: inline-block;
    width: 12px;
    height: 14px;
    background-position: -444px -49px;
    vertical-align: top;
    margin: 9px 2px 0 0;

}
.header .gnb-area .link-gnb.shop::before{
    content: '';
    display: inline-block;
    width: 24px;
    height: 20px;  
    vertical-align: -5px;
    background-position: -154px -389px;
}
.header .gnb-area .link-gnb.shoplive::before{
    content: '';
    display: inline-block;
    width: 54px;
    height: 20px;
    vertical-align: -5px;
    background-position: -202px -299px;
}

/* gnb-list2 */
.header .gnb-area .gnb-list2{
    float: left;
    margin-left: 12px;
    line-height: 30px;
    font-size: 15px;
    font-weight: bold;
    color: #000;
}
.header .gnb-area .btn-more{
    float: left;
    margin-left: 17px;
    font-size: 13px;
    line-height: 30px;
    color: #202020;
}
.header .gnb-area .btn-more:hover{
    text-decoration: underline;
}
.header .gnb-area .btn-more::after{
    display: inline-block;
    width: 11px;
    height: 7px;
    background-position: -444px -339px;
    background-repeat: no-repeat;
    vertical-align: top;
    content: '';
    margin-left: 7px;
    vertical-align: 2px;
}

.header .weather-area{
    float: right;
}
.header .weather-wrap{
    overflow: hidden;
    display: inline-block;
    max-width: 100%;
    padding: 12px 0 11px;
    font-size: 13px;
    line-height: 29px;
    vertical-align: top;
}
.header .weather-wrap::before{
    content: '';
    float: left;
    margin-right: 9px;
    display: inline-block;
    width: 29px;
    height: 29px;
    background-image: url(../images/sp-weather-bg.png);
    background-size: 215px 185px;
    background-position: 0 -63px;
}
.header .current-box{
    float: left;
}
.header .current-box strong{
    color: #202020;
    font-weight: bold;
}
.header .current-box .current{
    font-size: 15px;
    vertical-align: top;
}
.header .current-box .state{
    margin-left: 5px;
}
.header .degree-box{
    float: left;
    margin-left: 9px;
}
.header .degree-box span{}
.header .degree-box .min{
    color: #2586ee;
}
.header .degree-box .max{
    color: #e9564a;
}
.header .degree-box .max::before{
    display: inline-block;
    width: 5px;
    height: 11px;
    background-position: -444px -392px;
    background-repeat: no-repeat;
    vertical-align: top;
    content: '';
    margin: 0 3px;
    vertical-align: -1px;
}
.header .location{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    padding-left: 9px;
    font-size: 12px;
    color: grey;
    text-align: right;
}



.container{
    width: 1130px;
    margin: 0 auto;
    padding: 20px 30px;
    letter-spacing: -.2px;
}
.container::after{content: '';clear: both;display: block;} 
/* commend shift 1 */




/* footer */

.footer{
    background-color: #fafbfc;
    border-top: 1px solid #e4e8eb;
}
.footer .group-flex{
    width: 1130px;
    margin: 0 auto;
    padding: 0 30px 92px;
}
.footer .banner-area{
    padding: 24px 0;
    border-bottom: 1px solid #e4e8eb;
}
.footer .banner-list{}
.footer .banner-list::after{content: '';clear: both;display: block;}
.footer .banner-item{
    float: left;
    width: calc((100% - 32px) / 3);
}
.footer .banner-item + li{
    margin-left: 16px;
}
.footer .banner-wrap{
    overflow: hidden;
}
.footer .banner-wrap .thumb{
    overflow: hidden;
    float: left;
    width: 160px;
    height: 86px;
}
.footer .banner-wrap .thumb img{
    height: 100%;
}
.footer .banner-wrap .info-content{
    overflow: hidden;
    height: 86px;
    padding: 2px 2px 0 16px;
    font-size: 12px;
    line-height: 1.25;
    box-sizing: border-box;
    text-align: left;
}
.footer .info-content > *{
    display: block;
}
.footer .banner-wrap .info-content .sub-title{
    font-weight: 700;
    letter-spacing: -0.25px;
    color: #58c464;
    white-space: nowrap;
}
.footer .banner-wrap .info-content .title{
    margin: 6px 0 8px 0;
    font-size: 13px;
    font-weight: 700;
    line-height: 1.25;
    letter-spacing: -0.26px;
    color: #242424;
    white-space: nowrap;
}
.footer .info-content .desc{
    line-height: 18px;
    letter-spacing: -0.25px;
    color: #424242;
    white-space: nowrap;
}
.footer .notice-area{
    overflow: hidden;
    padding: 16px 0 15px;
    border-bottom: 1px solid #e4e8eb;
}
.footer .notice-area a{
    font-weight: bold;
    color: #202020;
}
.footer .notice-area a:hover{
    text-decoration: underline;
}
.footer .notice-box{
    float: left;
    margin-right: 13px;
}
.footer .link-sitemap{
    float: right;
}
.footer .link-sitemap::after{
    content: '';
    display: inline-block;
    width: 8px;
    height: 12px;
    background-position: -444px -268px;
    background-repeat: no-repeat;
    vertical-align: top;
    margin-left: 10px;
    vertical-align: -2px;
}
.footer .aside-area{
    overflow: hidden;
    border-bottom: 1px solid #e4e8eb;
}
.footer .partner-wrap{
    float: left;
    width: 780px;
    padding: 20px 0;
}
.footer .partner-box{
    overflow: hidden;
}
.footer .partner-box + div{
    margin-top: 9px;
}
.footer .partner-box .title{
    float: left;
    width: 87px;
    font-weight: bold;

}
.footer .partner-box a:hover{
    text-decoration: underline;
}
.footer .partner-box .link-partner{
    float: left;
    color: #777;
}
.footer .partner-box .link-partner.bar::after{
    content: "";
    display: inline-block;
    width: 1px;
    height: 11px;
    background-color: #e4e8eb;
    vertical-align: -1px;
    margin: 0 8px;
}
.footer .service-wrap{
    overflow: hidden;
    float: right;
    width: 350px;
    padding: 28px 0;
}
.footer .service-box{
    overflow: hidden;
    float: left;
    max-width: 150px;
}
.footer .service-box + div{
    margin-left: 50px;
}
.footer .service-logo{
    float: right;
    width: 48px;
    height: 48px;
    margin-left: 12px;
}
.footer .service-logo img{
    height: 100%;
}
.footer .service-box .info-content{
    float: left;
}
.footer .service-box .info-content .title{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    padding-top: 2px;
    font-weight: bold;
}
.footer .service-box .info-content .link-download{
    color: grey;
}
.footer .corp-area{
    padding-top: 25px;
}
.footer .corp-list{
    margin-right: 13px;
    float: left;
    overflow: hidden;
}
.footer .corp-item{
    float: left;
}
.footer .corp-item a{
    color: #777;
}
.footer .corp-item a:hover{
    text-decoration: underline;
}
.footer .corp-item + li::before{
    content: '';
    display: inline-block;
    width: 1px;
    height: 11px;
    background-color: #e4e8eb;
    vertical-align: -1px;
    margin: 0 8px;
}
.footer .addr{
    float: left;
    color: #202020;
    font-weight: 700;
}

/* fixed */
.btn-wrap{
    position: fixed;
    right: 19px;
    bottom: 19px;
}
.btn-wrap .btn-mode{
    display: inline-block;
    width: 136px;
    height: 53px;
    background-position: -270px -55px;
    background-repeat: no-repeat;
    vertical-align: top;
    cursor: pointer;
    z-index: 100;
}
.btn-wrap .top::after{
    content: '';
    display: inline-block;
    width: 51px;
    height: 51px;
    background-position: -150px -212px;
    background-repeat: no-repeat;
    vertical-align: top;
}